<section id="main-content">
    <section class="wrapper">
        <div class="div-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Profile
                </div>
            </div>
        </div>
        <!-- //market-->
        <div class="market-updates">
            <div class="col-md-6 market-update-gd">

                <div class="col-md-12 market-update-left">
                    <div class="table-responsive">
                        <table class="table table-striped b-t b-light">
                            <thead>
                                <tr>
                                    <th colspan="2">Personal Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{EmpName}}</td>
                                </tr>
                                <tr>
                                    <td>ID</td>
                                    <td>{{EmpId}}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{EMail}}</td>
                                </tr>
                                <tr>
                                    <td>DOJ</td>
                                    <td>{{EmpDOJ}}</td>
                                </tr>
                                <tr>
                                    <td>Blood Group</td>
                                    <td>{{BloodGroup}}</td>
                                </tr>
                                <tr>
                                    <td>Emergency Contact No.</td>
                                    <td>{{ContactNumber}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
            <div class="col-md-6 market-update-gd">
                <div class="col-md-12 market-update-left">
                    <div class="table-responsive">
                        <table class="table table-striped b-t b-light">
                            <thead>
                                <tr>
                                    <th colspan="2">Company Related Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Designation</td>
                                    <td>{{Designation}}</td>
                                </tr>
                                <tr>
                                    <td>Team</td>
                                    <td>{{Team}}</td>
                                </tr>
                                <tr>
                                    <td>Reporting Manager</td>
                                    <td>{{RMName}}</td>
                                </tr>
                                <tr>
                                    <td>RMID</td>
                                    <td>{{RMID}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="clearfix"> </div>
        </div>
        <!-- //market-->



    </section>

</section>