<section id="main-content">
    <section class="wrapper">
        <div *ngFor="let leave of results6" class="market-updates">
            <div class="col-md-4 market-update-gd">
                <div class="market-update-block clr-block-1">
                    <div class="col-md-12 market-update-left">
                        <h4>Earned Leaves</h4>
                        <h3>{{leave.EL}}</h3>

                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 market-update-gd">
                <div class="market-update-block clr-block-2">
                    <div class="col-md-12 market-update-left">
                        <h4>Casual Leaves</h4>
                        <h3>{{leave.CL}}</h3>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!-- <div class="col-md-4 market-update-gd">
                <div class="market-update-block clr-block-3">
                    <div class="col-md-12 market-update-left">
                        <h4>Leave Balance </h4>
                        <h3>13</h3>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div> -->
            <div class="clearfix"> </div>
        </div>
        <div class="table-agile-info">




            <div class="panel panel-default">
                <div class="panel-heading ellipsis">
                    <div class="pull-left ellipsis">Applied Leaves</div>

                    <div class="pull-right"><button type="submit" class="btn btn-success" (click)="openDialog()"><i
                                class="fa fa-plus"></i> Apply Leave</button></div>
                </div>

                <!-- <button mat-raised-button class="btn btn-success" (click)="openDialog()">Apply Leave</button> -->


                <div class="table-responsive">
                    <table class="table table-striped b-t b-light">
                        <thead>
                            <tr>

                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Total Leaves</th>
                                <th>Type of Leave</th>
                                <th>ReasonForLeave</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let leave of results5">
                                <td>{{leave.StartDate|date}} </td>
                                <td>{{leave.EndDate|date}}</td>
                                <td>{{leave.TotalDays}}</td>
                                <td>{{leave.LeaveType}}</td>
                                <td>{{leave.ReasonForLeave}}</td>
                                <td>{{leave.Status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer">
                    <div class="row">

                        <div class="col-sm-5 text-center">
                            <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
                        </div>
                        <div class="col-sm-7 text-right text-center-xs">
                            <ul class="pagination pagination-sm m-t-none m-b-none">
                                <li><a href=""><i class="fa fa-chevron-left"></i></a></li>
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href=""><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </section>
</section>