<section id="main-content">
    <section class="wrapper">
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading ellipsis">
                    Employees Applied Leaves
                </div>
                <!-- <div class="table-responsive">
                    <table class="table table-striped b-t b-light">
                        <thead>
                            <tr>
                                <th>Emp. ID</th>
                                <th>Emp. Name</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Total Leaves</th>
                                <th>Reason</th>
                                <th class="actions-width">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let leave of results5; let i= index">
                                <td>{{leave.EmpId}}</td>
                                <td>{{leave.EmpName}}</td>
                                <td>{{leave.StartDate|date}}</td>
                                <td>{{leave.EndDate|date}}</td>
                                <td>{{leave.TotalDays}}</td>
                                <td>{{leave.ReasonForLeave}}</td>
                                <td><button type="submit" [disabled]="leave.Status == 'Approved'" class="btn btn-success"
                                        (click)="updateLeave(i)"><i class="fa fa-check-square-o"></i> Approve</button>
                                    <button type="submit" [disabled]="leave.Status == 'Rejected'" class="btn btn-danger"
                                        (click)="saveSelectedEmpId(i);saveIndex(i);openDialog();"><i class="fa fa-times"></i>reject
                                    </button></td>

                            </tr>


                        </tbody>
                    </table>
                </div> -->

                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" class="lms-table">

                        <!-- Position Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Emp.Id</th>
                            <td mat-cell *matCellDef="let element" style="text-align:left"> {{element.EmpId}} </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Emp.Name</th>
                            <td mat-cell *matCellDef="let element"> {{element.EmpName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="fromdate">
                            <th mat-header-cell *matHeaderCellDef> From Date</th>
                            <td mat-cell *matCellDef="let element"> {{element.StartDate|date}} </td>
                        </ng-container>

                        <ng-container matColumnDef="todate">
                            <th mat-header-cell *matHeaderCellDef> To Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.EndDate|date}} </td>
                        </ng-container>

                        <ng-container matColumnDef="totalleaves">
                            <th mat-header-cell *matHeaderCellDef>Total Leaves</th>
                            <td mat-cell *matCellDef="let element" style="text-align:center" >{{element.TotalDays}}</td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="reason">
                            <th mat-header-cell *matHeaderCellDef> Reason For Leave</th>
                            <td mat-cell *matCellDef="let element"> {{element.ReasonForLeave}} </td>
                        </ng-container> -->


                        <ng-container matColumnDef="reason">
                            <th mat-header-cell *matHeaderCellDef> Reason For Leave</th>
                            <td mat-cell *matCellDef="let element">
                                <div class="ellipses" title="{{element.ReasonForLeave}}">
                                    {{element.ReasonForLeave}}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions</th>
                            <td mat-cell *matCellDef="let element; let i = index;"> 
                                <button type="submit" *ngIf="element.Status == 'Pending' || element.Status == 'Approved'"
                                    [disabled]="element.Status == 'Approved'" class="btn btn-success" (click)="updateLeave(i)"><i
                                        class="fa fa-check-square-o"></i> Approve
                                </button>
                                <button type="submit" *ngIf="element.Status == 'Pending' || element.Status == 'Rejected'"
                                    [disabled]="element.Status == 'Rejected'" class="btn btn-danger" (click)="saveSelectedEmpId(i);saveIndex(i);openDialog();"><i
                                        class="fa fa-check-square-o"></i> Reject&nbsp;&nbsp;&nbsp;&nbsp;
                                </button> </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
                </div>
</div>
            </div>
    </section>
</section>