<mat-toolbar color="primary">
  <span>Reason for Rejection</span>
</mat-toolbar>

<div class="popup-panel">
  <br>
  <form ngNativeValidate [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
      <div class="row">
          <div class="col-md-12">

    <mat-form-field >

      <textarea matInput formControlName="reject" placeholder="Reject Reason" id="reject" [(ngModel)]="reject.reject"
        name="reject" type="text" required>
      </textarea>

      <mat-error *ngIf="!formGroup.controls['reject'].valid">
        {{getErrorReason()}}
      </mat-error>

    </mat-form-field>
    </div>
    <br>
      </div>
    <div class="col-md-12 form-element pop-btn-set">
      <br>
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">
        Submit
      </button>
      <button mat-button (click)="onNoClick()">Cancel</button>
    </div>
    <br>
  </form>
  <div class="clearfix"></div>
</div>